* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inria Sans", sans-serif;
  background-color: #f8f9fa;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.home_wall {
  position: relative;
  width: 100vw;
  height: auto;
  margin-left: calc(-50vw + 50%);
  margin-top: -2rem;
  background-attachment: fixed;
  object-fit: cover;
  overflow: hidden;
}

#round_title {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(240, 237, 228, 0.71);
  width: 35%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 4.5rem;
  font-family: "Dancing Script", serif;
  text-align: center;
}

#round_title span {
  padding: 10%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#contact_title, .card-title, h1, .nav-link {
  font-family: "Dancing Script", serif;
}

.card {
  width: 100%;
  height: 100%;
  background-color: rgba(240, 237, 228, 0.71);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.image-container {
  margin-bottom: 20px;
  align-self: center;
}

.image-ronde {
  width: clamp(100px, 20vw, 150px);
  height: clamp(100px, 20vw, 150px);
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}

.text-container {
  width: 80%;
}

.text-container h2 {
  margin: 1.5rem;
}

.text-container p {
  margin: 1.5rem;
}

.presentation-card {
  width: 80%;
  margin: auto;
}

.contact-card .card-body {
  width: 100%;
}

.contact-card h1 {
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0f0ef;
  border-radius: 5px;
}

.formatted-content {
  white-space: pre-wrap;
  font-family: inherit;
  line-height: 1.5;
  font-size: 1rem;
  color: #333;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.admin-card {
  height: 20rem;
  overflow: hidden;
}

.admin-card img {
  height: 15rem;
  object-fit: cover;
}

.description {
  display: none;
}

.description.show {
  display: block;
}

button[type=submit], .btn, .btn-primary, .btn-secondary, .btn-danger {
  padding: 12px 20px; /* Taille uniforme */
  background-color: #f0ede4;
  color: #040705;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Dancing Script", serif;
  font-size: 1.2em;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

button[type=submit]:hover, .btn:hover {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.form-error {
  color: #dc3545;
  font-size: 0.9em;
  margin-top: 5px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.nav-icon {
  height: 1em;
  width: auto;
  margin-right: 0.3em;
}

.up {
  width: 30px;
  height: 30px;
}

.up img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form-control[type=search] {
  width: 200px;
  height: 3em;
  margin-top: 0.8em;
  margin-right: 1.5em;
  transition: width 0.3s ease-in-out;
}

.btn-outline-light {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .presentation-card, .contact-card {
    flex-direction: row;
  }
  .image-container {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media (max-width: 1200px) {
  #round_title {
    width: 40%;
  }
}
@media (max-width: 992px) {
  #round_title {
    width: 45%;
  }
}
@media (max-width: 768px) {
  #round_title {
    width: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
  }
  .nav-icon {
    height: 0.8em;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-container {
    width: 100%;
  }
  .form-control[type=search] {
    width: 150px;
  }
}
@media (max-width: 576px) {
  #round_title {
    width: 45%;
    font-size: 3rem;
  }
  .form-control[type=search] {
    width: 120px;
  }
  .btn-outline-light {
    padding: 0.375rem 0.5rem;
    font-size: 0.875rem;
  }
}
@media (max-width: 480px) {
  #round_title {
    width: 45%;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
