{% extends 'base.html.twig' %}

{% block title %}Modifier la Réalisation{% endblock %}

{% block body %}
    <h1>Modifier la Réalisation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin_dashboard') }}" class="btn btn-secondary">Retour au tableau de bord</a>
{% endblock %}
