<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulaire de contact</title>
</head>
<body>
<table>
    <tr>
        <td>Name</td>
        <td>{{ contact.name }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td>Nombre de pièces</td>
        <td>{{ contact.pieces }}</td>
    </tr>
    <tr>
        <td>Nombre de m²</td>
        <td>{{ contact.m2 }}</td>
    </tr>
    <tr>
        <td>Type d'habitation</td>
        <td>{{ contact.habitation }}</td>
    </tr>
    <tr>
        <td>Description de votre projet</td>
        <td>{{ contact.message }}</td>
    </tr>
</table>

</body>
</html>
